.app {
	align-items: center;
	background: #e4e5e6;
	display: flex;
	height: 100vh;
	justify-content: center;
	margin: 0;
}
.the-eyes {
	background: url(../img/the-eyes.svg) center center no-repeat #ffffff;
	height: 369px;
	position: relative;
	-transform: scale(.5);
	width: 408px;
}
.the-eyes__eye {
	background: white;
	height: 72px;
	left: 50%;
	position: absolute;
	top: 51%;
	transform: translate(-50%, -50%);
	width: 110px;
	border-radius: 100%;
	overflow: hidden;
	transition: height ease .3s;
}

.the-eyes:hover .the-eyes__eye {
	height: 0px;
}
.the-eyes__eyeball {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 110px;
	height: 72px;
	transform: translate(-50%,-50%);
}
.the-eyes__eyeball-item {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 42px;
	height: 42px;
	transform: translate(-50%,-50%);
	background: #2c2c2c;
	border-radius: 50%;
}
