.app {
	align-items: center;
	background: #e4e5e6;
	display: flex;
	height: 100vh;
	justify-content: center;
	margin: 0;
}
.the-eyes {
	background: url(../img/the-eyes.svg) center center no-repeat #ffffff;
	height: 369px;
	position: relative;
	transform: scale(.5);
	width: 408px;
}
.the-eyes__container {
	background: red;
	height: 72px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 110px;
}
.the-eyes__part {
	height: 50%;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
.the-eyes__part-top {
	background: blue;
	bottom: 50%;
}
.the-eyes__part-bottom {
	background: yellow;
	top: 50%;
}

.the-eyes__eye {
	background: cyan;
	border-radius: 50%;
	height: 200%;
	left: 0;
	position: absolute;
	transition: height ease .3s;
	width: 100%;
}
.the-eyes__part-top .the-eyes__eye {
	bottom: -50%;
	transform: translateY(25%);
}
.the-eyes__part-bottom .the-eyes__eye {
	top: -50%;
	transform: translateY(-25%);
}

.the-eyes:hover .the-eyes__eye {
	height: 50%;
}
